@charset "utf-8";
@import "./common.css";
@import "./layout.css";
@import "./reset.css";
@import "./responsive.css";

/* profile page */
.profile-flex-box {
  display: flex;
  padding-top: 78px;
}
.profile-pic img {
  width: 700px;
}

.profile-about {
  padding: 72px 0px 72px 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  position: relative;
}
.profile-about:before {
  content: "";
  width: 175px;
  height: 4px;
  position: absolute;
  background: var(--main-font-color);
  left: -100px;
  top: 90px;
}
.profile-about-desc h1 {
  padding-bottom: 27px;
  font-size: 40px;
}
.profile-about-desc p {
  line-height: 27px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

/* resume */
.resume-link {
  margin-top: 20px;
  margin-bottom: 40px;
}
.resume-link:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

/* profile about social */
.profile-about-social {
  display: flex;
}

.profile-about-social a {
  margin-right: 30px;
}
.profile-about-social i {
  font-size: 20px;
}
.github-link:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.blog-link:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

/* skills */
/* skills front-end */
.skill-line {
  position: relative;
  margin: 50px 0;
}
.skill-line:after {
  content: "SKILL";
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  color: #c8c8c8;
  padding-left: 14px;
  position: absolute;
  right: 45%;
  bottom: 50%;
  transform: translate(-10%, 50%);
}
/* skill-front-end list */
.skill-line {
  margin-bottom: 100px;
}
.skill-box {
  background: #d3d3d3d2;
  border-radius: 50px;
}
.skill h1 {
  padding: 40px 0;
  font-size: 3rem;
  color: #242527;
}
.skill-list {
  width: 800px;
}
/* skill-design-tool */
.skill-design-tool {
  width: 500px;
}
/* skill-commu-tool */
.skill-commu-tool {
  width: 300px;
  margin: 0 auto;
}
/* work */
.skill-line-work:after {
  content: "WORK";
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  color: #c8c8c8;
  padding-left: 14px;
  position: absolute;
  right: 45%;
  bottom: 50%;
  transform: translate(-10%, 50%);
}
.project-list li {
  float: left;
  flex-wrap: nowrap;
}
.project-list li > a {
  margin: 10px;
}
.project {
  position: relative;
}
.project-desc {
  width: 100%;
  height: 100%;
  background-color: rgba(40, 42, 43, 0.75);
}
.project-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  /* z-index: 2; */
  /* top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  text-decoration: none; */
}
